.inicio-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;

  .titulo {
    color: #00B5CC;
    font-family: 'Creepster', cursive;
    font-size: 40px;
    margin: 0;
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: #B2DF28;
  }

  .barra-pesquisa {
    width: 20%;
      
    #form-field {

      mat-label {
        color: #CACACA;
      }

      input {
        color: #F2F2F2;
        padding: 10px;
        
      }
    }
  }
}  

.characters-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  max-width: 65vw; 
  margin: 10px auto;
  justify-content: center;

  @media screen and (max-width: 768px) {
    /* Ajusta para telas menores */
    grid-template-columns: repeat(2, 1fr); /* Apenas 2 colunas em dispositivos menores */
    max-width: 90vw; /* Reduz o tamanho */
  }

  @media screen and (max-width: 480px) {
    /* Ajusta para telas bem pequenas */
    grid-template-columns: 1fr; /* Apenas 1 coluna */
  }
}