<div class="character-card">
    <!-- Botão de Favoritar -->
    <button class="favorite-button" (click)="toggleFavorite()">
      <mat-icon>
        {{ isFavorited ? 'favorite' : 'favorite_border' }}
      </mat-icon>
    </button>
  
    <!-- Imagem do Personagem -->
    <img [src]="character.image" alt="{{ character.name }}" class="character-image" />
  
    <!-- Detalhes do Personagem -->
    <div class="character-info">
      <h3 class="character-name">{{ character.name }}</h3>
      <p class="character-species">{{ character.species }}</p>
      <p *ngIf="character.type" class="character-type">{{ character.type }}</p>
    </div>
  </div>
  