.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0A0A0A;
    padding: 10px 20px;
    

    .custom-toggle-group {
      background-color: inherit;
      border-radius: 15px;
      border-color: #A4A4A4;
    }

    .custom-toggle {
      background-color: inherit;
      color: #A4A4A4;
    
      i.material-icons {
        margin-right: 8px;
      }

      .count {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        color: #000;
        border-radius: 50%;
        border: #000 solid 1px;
        width: 20px; 
        height: 20px; 
        font-size: 14px; 
        font-weight: bold;
        margin-left: 8px; 
        padding: 10px;
      }
      
      &:hover {
        background-color: #FFFFFF;
      }
    
      &.mat-button-toggle-checked {
        background-color: #FFFFFF;
        color: #000;
      }
    }    
  }
  