<header class="header">
    <div class="logo">
      <img src="../../../assets/rick-and-morty-logo.png" alt="Rick and Morty">
    </div>
    <mat-button-toggle-group
    [value]="'inicio'"
    (change)="onSelectionChange($event.value)">
      <!-- Botão Início -->
      <mat-button-toggle 
        value="inicio" 
        class="buttonInicio">
        <i class="material-icons">home</i> Início
      </mat-button-toggle>

      <!-- Botão Favoritos -->
      <mat-button-toggle 
        value="favoritos" 
        class="buttonFavoritos">
        <i class="material-icons">favorite</i> Favoritos
        <span class="count">3</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </header>
  