.telaInicio {
    max-width: 65vw;
    margin: 10px auto;
  
    .inicio-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
    
      .titulo {
        color: #00B5CC;
        font-family: 'Creepster', cursive;
        font-size: 40px;
        margin: 0;
        -webkit-text-stroke-width: .3px;
        -webkit-text-stroke-color: #B2DF28;
      }
    }  
    
    .loading-indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    
      ::ng-deep mat-spinner {
        circle {
          stroke: #00B5CC;
        }
      }
    }
  
    .not-found {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60vh;
      text-align: center;
      background-color: #0A0A0A;
      border: #3D3D3D solid 1px;
      border-radius: 10px;
      color: #fff;
    
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
    
      p {
        font-size: 16px;
        color: #a4a4a4;
      }
    }
    
    .characters-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin: 10px 0;  
    
      @media screen and (max-width: 768px) {
        /* Ajusta para telas menores */
        grid-template-columns: repeat(2, 1fr); /* Apenas 2 colunas em dispositivos menores */
        max-width: 90vw; /* Reduz o tamanho */
      }
    
      @media screen and (max-width: 480px) {
        /* Ajusta para telas bem pequenas */
        grid-template-columns: 1fr; /* Apenas 1 coluna */
      }
    }
    
    .pagination-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin: 20px 0;
    
      button {
        background-color: #00B5CC;
        color: #fff;
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    
        &:hover {
          background-color: #008C99;
        }
    
        &:disabled {
          background-color: #A4A4A4;
          cursor: not-allowed;
        }
      }
    
      mat-icon {
        font-size: 24px;
      }
    
      span {
        font-size: 16px;
        color: #fff;
      }
    }
  }