<div class="telaFavoritos">
    <div class="inicio-container">
      <!-- Título -->
      <h1 class="titulo">Favoritos</h1>
    </div>
  
    <!-- Mensagem de Nenhum Resultado Encontrado -->
    <div class="not-found" *ngIf="favoriteCharacters.length === 0">
      <h2>Parece que você ainda não tem favoritos</h2>
      <p>Volte à página inicial e escolha os melhores para você.</p>
      <button (click)="navigateBack()">Voltar ao início</button>
    </div>
    
    <!-- Grid de Personagens Favoritados -->
    <div class="favoritos-container">
      <app-character-card
        *ngFor="let character of favoriteCharacters"
        [character]="character">
      </app-character-card>
    </div>
  </div>
