@use '@angular/material' as mat;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif; /* Fonte padrão */
    color: #FFFFFF; /* Cor base de texto */
    background-color: #1F1F1F; /* Cor base do fundo */
    -webkit-font-smoothing: antialiased; /* Melhora o render de fontes */
    overflow-x: hidden; /* Evita scroll horizontal indesejado */
}